html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    margin: 0;
    font-family: Lato;
    background-color: #DFE6E9;
}

a {
    text-decoration: none;
}

.container{
    width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
}


/*------------------------HEADER-----------------------*/

header{
    width: 100%;
    height: 80px;
    background-color: #55EFC4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position:fixed;
    top:0;
    z-index:10;
}

.header-left{
    float: left;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.header-left h2 a{
    font-size: 25px;
    cursor: pointer;
    color: black;
}

.header-right{
    margin-top: 15px;
    width: 500px;
    height: 50px;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-right a{
    font-size: 17px;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.header-right a:hover{
    background-color: #00b894;
    color: white;
    transition: 0.3s all ease-in-out
}



/*---------------------TOP-WRAPPER-----------------------*/

.top-wrapper{
    height: 500px;
    display: flex;
    padding-top: 110px;
    justify-content: center;
    align-items: center;
}

.left-wrap{
    float: left;
    width: 450px;
}

.left-wrap h1 {
    font-size: 40px;
    font-weight: bold; 
    display: flex;
    justify-content: center;
}

.left-wrap span {
    padding-left: 5px;
    position: relative;
}

.left-wrap span::before{
    content: "Matthew Imanuel";
    color: #55EFC4;
    animation: words 20s infinite;
}

@keyframes words{
    0%,60%{
        content: "Matthew Imanuel";
    }
    61%,100%{
        content: "a Developer";
    }
}

.left-wrap span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #DFE6E9;
    border-left: 2px solid #55EFC4;
    right: -8px;
    animation: blink .8s infinite, typing 20s steps(14) infinite;
}

@keyframes blink {
    to{
        border-left: 2px solid #DFE6E9;
    }
}

@keyframes typing{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 8px);
    }
}

.left-wrap h2{
    color: #B2BEC3;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.img-social{
    width: 450px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.img-social img{
    width: 50px;
    height: 50px;
    margin: 0 20px;
    padding: 10px;
    background-color: #55EFC4;
    border-radius: 40px;
    cursor: pointer;
}

.img-social img:hover{
    background-color: #00b894;
}

.illustration{
    float: right;
}

.illustration img{
    width: 400px;
    height: 370px;
    padding-right: 80px;
}

/*-------------------------ABOUT-WRAPPER------------------------*/

.about-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #55EFC4;
    border-radius: 20px;
    margin-bottom: 200px;
}

.about-wrapper h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.about-wrapper p{
    font-size: 20px;
    font-weight: 400;
    color: black;
}

/*--------------------------TECHNOLOGY-WRAPPER-----------------------*/

.technology{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.des-tech{
    float: left;
    width: 370px;
}

.des-tech h2{
    font-size: 40px;
    font-weight: bold;
}

.des-tech p{
    font-size: 25px;
    font-weight: 300;
}

.img-tech{
    float: right;
    width: 700px;
    height: 500px
}

.img-tech img{
    width: 100px;
    height: 100px;
}

#javascript{
    position: relative;
    top: 40px;
    left: 20px;
    padding: 30px;
    background-color: #B2BEC3;
    border-radius: 20px;
}

#react{
    position: relative;
    top: 200px;
    left: 50px;
    padding: 30px;
    background-color: #B2BEC3;
    border-radius: 20px;
}

#typescript{
    position: relative;
    top: 100px;
    left: 100px;
    padding: 30px;
    background-color: #B2BEC3;
    border-radius: 20px;
}

/*---------------------------------PORTFOLIO-----------------------------*/

.portfolio{
    height: 900px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.portfolio h2{
    text-align: center; 
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
}

.portfolio-box{
    float: left;
    width: 30%;
    height: 350px;
    margin: 15px;
    border-radius: 8px;
    background-color: #D9D9D9;
    overflow: hidden;
}

.portfolio-box img{
    width: 100%;
    height: 170px;
}

.portfolio-content{
    margin: 15px;
}

.portfolio-content h3{
    font-size: 20px;
    font-weight: 500;
}


/*---------------------------------FOOTER---------------------------------*/

footer{
    height: 200px;
    background-color: #55EFC4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer-social{
    padding: 30px 0 20px 0;
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer-social img{
    width: 50px;
    height: 50px;
}

.footer-social img:hover{
    background-color: #B2BEC3;
    border-radius: 30px;
    transition: 0.3s all ease-in-out;
}

.copyright{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.copyright p{
    font-size: 18px;
    font-weight: 400;
}

.arrow{
    float: right;
    margin-right: 40px;
    padding: 15px;
    background-color: #FFEAA7;
    border-radius: 20px;
    cursor: pointer;
}

.arrow:hover{
    background-color: #B2BEC3;
    transition: 0.3s all ease-in-out;
}

.arrow img{
    width: 32px;
    height: 32px;
}

